*{
    margin: 0%;
    padding: 0%;
}
.a{
    height: 300px;
    width: 400px;
    background: red;
    margin: auto;
    background-image: url(../images/pexels-photo-1707820.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.o{
    background-color: rgba(0, 0, 0, 0.45);
    height: 300px;
    width: 400px;
}
.o h1,h2{
    color: rgb(3, 241, 170);
    padding: 100px 100px 100px 100px;
}
.hw{
    height:300px;
    width: 400px;
    background: red;
    position: relative;
}
.q{
    height:100px;
    width: 100px;
    background-color: green;

    position: absolute;
    
}
.w{
    height:100px;
    width: 100px;
    background-color: green;
    top:0%;
    right: 0%;
    
    position: absolute;
    
}
.e{
    height:100px;
    width: 100px;
    background-color: green;
    bottom:0%;
    right: 0%;
 
    position: absolute;
    
}
.r{
    height:100px;
    width: 100px;
    background-color: green;
    bottom:0%;
   left: 0%;

    position: absolute;
    

}
.t{
        height:100px;
        width: 100px;
        background-color: green;
        bottom:34%;
        right: 37%;
       border-radius: 50%;
        position: absolute;
        
    }